{% extends "index.html" %}
{% block title %} Home page {% endblock %}
{% block content %}
<title>Add receipt</title>
<div>
    <h1 style="text-align:center;margin:60px">Add a receipt</h1>
    <form style="width:75%;margin-left:240px" action method="post">
        <div class="form-group">
            <label for="formGroupExampleInput">Amount (in dkk)</label>
            <input type="text" name="amount" class="form-control" id="formGroupExampleInput" placeholder="i.e 32.65">
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Resident</label>
            <select name="resident" class="form-control" id="exampleFormControlSelect1">
                <option>2901</option>
                <option>2902</option>
                <option>2903</option>
                <option>2904</option>
                <option>2905</option>
                <option>2906</option>
                <option>2907</option>
                <option>2908</option>
                <option>2909</option>
                <option>2910</option>
                <option>2911</option>
                <option>2912</option>
                <option>2913</option>
                <option>2914</option>
                <option>2915</option>
                <option>2916</option>
                <option>2917</option>
            </select>
        </div>
        <div class="form-group">
            <label for="receipt_picture">Insert picture of receipt</label>
            <input name="receipt_picture" type="file" class="form-control-file" id="receipt_picture">
        </div>
        <div>
            <button type="submit" class="btn btn-primary" style="text-align:center">Submit</button>
        </div>
    </form>
</div>
{% endblock %}