{% extends "index.html" %}
{% block title %} Home page {% endblock %}
{% block content %}
<title>Add receipt</title>
<div>
    <h1 style="text-align:center;margin:60px">Add a receipt</h1>
    <form style="width:75%;margin-left:240px" action method="post">
        <div class="form-group">
            <label for="formGroupExampleInput">Amount (in dkk)</label>
            <input type="text" name="amount" class="form-control" id="formGroupExampleInput" placeholder="i.e 32.65">
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Resident</label>
            <select name="resident" class="form-control" id="exampleFormControlSelect1">

                {% for resident in residents %}
                <option>{{ resident.Resident_Number }}</option>
                {% endfor %}

            </select>
        </div>
        <div class="form-group">
            <label for="receipt_picture">Insert picture of receipt</label>
            <input name="receipt_picture" type="file" class="form-control-file" id="receipt_picture">
        </div>
        <div class="form-group">
            <label for="optional_receipt_comment">Optional comment</label>
            <textarea class="form-control" id="optional_receipt_comment" rows="3"></textarea>
        </div>
        <div>
            <button type="submit" class="btn btn-primary" style="text-align:center">Submit</button>
        </div>
    </form>
</div>
{% endblock %}